@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Righteous&family=Signika+Negative&display=swap");

.img {
  height: 100%;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
}

.features {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
}

.subtitle {
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-family: "Signika Negative", sans-serif;
}

p {
  font-size: 1.1rem;
  font-family: "Cantarell", sans-serif;
}
