@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Righteous&family=Signika+Negative&display=swap");

.question-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.button_question {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: #005aff;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
}

.question-genre {
}

h2 {
  font-family: "Righteous", cursive;
  margin-bottom: 6rem;
  text-align: center;
}
