.logo_vroommm {
  width: 60%;
}

.form_register,
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form_register {
  margin-top: 3rem;
}
.firstname,
.lastname,
.username_register,
.password_register,
.email {
  font-size: medium;
  width: 17rem;
  height: 2rem;
  padding-left: 1rem;
  margin-top: 2rem;
}
.register_btn {
  background-color: #005aff;
  color: white;
  min-width: 70%;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 3rem;
}
.password_box_register {
  position: relative;
}
.icon_register {
  position: absolute;
  right: 5%;
  bottom: 10%;
  width: 1.5rem;
  height: 1.5rem;
}
