@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Righteous&family=Signika+Negative&display=swap");

.logo_vroommm {
  height: auto;
  max-width: 60%;
  pointer-events: none;
}

.back-arrow {
  max-width: 35px;
  position: absolute;
  left: 0;
}

.logo {
  display: flex;
  justify-content: center;
}

.form_register,
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form_register {
  margin-top: 3rem;
}
.firstname,
.lastname,
.username_register,
.password_register,
.email {
  font-size: medium;
  width: 17rem;
  height: 2rem;
  padding-left: 1rem;
  margin-top: 2rem;
}
.register_btn {
  font-family: "Righteous", cursive;
  background-color: #005aff;
  color: white;
  min-width: 70%;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 3rem;
  border: solid 4px transparent;
  border-radius: 30px;
  transition: border 1s ease-in-out;
  animation: border-pulse 3s linear infinite;
}
.password_box_register {
  position: relative;
}
.icon_register {
  position: absolute;
  right: 5%;
  bottom: 10%;
  width: 1.5rem;
  height: 1.5rem;
}

.sign_in {
  font-family: "Righteous", cursive;
}
