@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Righteous&family=Signika+Negative&display=swap");

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

.App-header {
  color: white;
  box-sizing: border-box;
  padding: 1rem;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
  align-self: center;
}

.App-logo {
  height: auto;
  max-width: 60%;
  pointer-events: none;
}

.welcome {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.3rem;
  margin: 1rem;
  color: black;
  padding-bottom: 7rem;
}

button {
  border: solid 4px transparent;
  border-radius: 30px;
  transition: border 1s ease-in-out;
  animation: border-pulse 3s linear infinite;
  background-color: #005aff;
  color: white;
  font-family: "Righteous", cursive;
}

@keyframes border-pulse {
  0% {
    border-color: #00f0ff;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #00f0ff;
  }
}

.Go {
  font-family: "Righteous", cursive;
  background-color: #005aff;
  color: white;
  min-width: 70%;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 6rem;
}
