body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

.App-header {
  color: white;
  box-sizing: border-box;
  padding: 1rem;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  align-self: center;
}

.App-logo {
  height: auto;
  max-width: 60%;
  pointer-events: none;
}

.welcome {
  font-family: Cantarell, sans-serif;
  margin: 1rem;
  color: black;
  padding-bottom: 7rem;
}

button {
  border: solid 4px transparent;
  border-radius: 30px;
  transition: border 1s ease-in-out;
  animation: border-pulse 3s linear infinite;
}

@keyframes border-pulse {
  0% {
    border-color: #00f0ff;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #00f0ff;
  }
}

.Go {
  background-color: #005aff;
  color: white;
  min-width: 70%;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 6rem;
}
